<form ng-controller="ViewConfiguracionController" role="form">

    <p>Seleccione la opcion que desea utilizar.</p>
    <div class="form-group">
        <div class="form-group" id="select" >
            <select ng-model="supermarketConfiguracion">
                
                <option value="selectAgregar">Agregar supermercado</option>
                <option value="selectActualizar">Actualizar datos</option>
                <!-- <option ng-controller="ViewLoginCtrl" value="nada">{{credentials.password}}</option>-->
            </select>
        </div>

        <div ng-show="supermarketConfiguracion === 'selectAgregar'" >

            <div class="form-group">
                <label for="idR">Número de Identificacion:</label> <input type="text"
                                                                          class="form-control" id="idConfiguracion" ng-model="idConfiguracionmMercado" />
            </div>
            <div class="form-group">
                <label for="nombre">Id Supermarket </label> <input type="text" 
                                                                   class="form-control" id="zona" name="zona" ng-model="SupermarketId" />
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label> <input type="text" 
                                                          class="form-control" id="nombre" name="nombre" ng-model="nombreSupermarket" />
            </div>

            <button type="submit" class="btn btn-primary" ng-click="AgregarSupermercado()">Aceptar</button>

            <button type="submit" class="btn btn-primary" ng-click="cancelarPostProductos()">Cancelar</button>
        </div>


        <div ng-show="supermarketConfiguracion === 'selectActualizar'">
            <div class="form-group">
                <label for="idR">Número de Identificacion:</label> <input type="text"
                                                                          class="form-control" id="idConfiguracion" ng-model="idConfiguracion" disabled/>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre:</label> <input type="text"
                                                           class="form-control" id="nombreConfiguracion" ng-model="nombreConfiguracion" disabled/>
            </div>
            <div class="form-group">
                <label for="correo">Correo</label> <input type="text"
                                                          ng-app=""class="form-control" id="correoConfiguracion" ng-model="correoConfiguracion"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label> <input type="password"
                                                               class="form-control" id="passwordConfiguracion" ng-model="passwordConfiguracion"/>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label> <input type="password"
                                                                              class="form-control" id="confirmPasswordConfiguracion" ng-model="confirmPasswordConfiguracion"/>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="actualizarDatosClienteConfiguracion()">Aceptar</button>
            <button type="submit" class="btn btn-primary" ng-click="cancelarConfiguracion()">Cancelar</button>
        </div>

    </div>

    <div ng-show="banderaAgregaSuper">
        <h1>SE HA AGREGADO CORRECTAMENTE EL SUPERMERCADO {{supermarketConfiguracion}} A EL USUARIO</h1>
        <a href="index.html" ><button type="button" class="btn btn-primary" >INICIO</button></a>
    </div>
</form>