<form ng-controller="signUpController" role="form" ng-submit="signUp()">
    <div id="main">
        <div class="container">
            <div class="row main-row">
                <div class="4u 12u(mobile)">

                    <section>
                        <h2>¿En cuál supermercado se desea registrar?</h2>
                        <ul class="small-image-list">
                            <li ng-repeat='i in listSupermarkets'>
                                <a ng-click="seleccionaSupermercado(i.idSupermarkets)"><img src="images/{{i.nameSupermarket}}.png" alt="" class="left" /></a>
                                <h4>{{i.nameSupermarket}}</h4>
                            </li>
                        </ul>                        
                    </section>



                </div>
                <div class="8u 12u(mobile) important(mobile)">

                    <section class="right-content">
                        <div ng-show="!check">
                            <div class="form-group">
                                <label for="id">Ingrese su numero de identificacion para validar si es un usuario apto para el registro:</label> <input type="number"
                                                                                         class="form-control" id="id" name="id" ng-model="id1"/>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="consult()">Consult</button>
                        </div>

                        <div ng-show="check" >
                            <div class="form-group">
                                <label for="idR">Id Cliente</label> <input type="number"
                                                                                class="form-control" id="idR" name="id" ng-model="id1" disabled/>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre:</label> <input type="text"
                                                                           class="form-control" id="nombre" name="nombre" ng-model="nombre"/>
                            </div>
                            <div class="form-group">
                                <label for="correo">Correo</label> <input type="text"
                                                                          ng-app=""class="form-control" id="correo" name="correo" ng-model="correo"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label> <input type="password"
                                                                               class="form-control" id="password" name="password" ng-model="password"/>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirma Contraseña:</label> <input type="password"

                                                                                              class="form-control" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword"/>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="postClientApp()">Registrarse</button>
                        </div>

                    </section>

                </div>
            </div>
        </div>
    </div>
</form>