<form ng-controller="ViewAddProductosCtrl" role="form">
    <div id="main">
        <div class="container">
            <div class="row main-row">
                <div class="4u 12u(mobile)">

                    <section>
                        <h2>¿Qué desea actualizar?</h2>
                        <ul class="small-image-list">   
                            <li>
                                <button type="submit" class="btn btn-primary btn-block" ng-click="cambiaEstadoAgregar()">Agregar producto</button>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-primary btn-block" ng-click="cambiaEstadoModificar()">Modificar producto</button>
                            </li>
                        </ul>                        
                    </section>



                </div>
                <div class="8u 12u(mobile) important(mobile)">

                    <section class="right-content">
                        <div ng-show="addProducts === 'Agregar'" >

                            <div class="form-group">
                                <label for="idProducto">Codigo del nuevo producto :</label> <input type="number"
                                                                                                   class="form-control" id="idProducto" name="idProducto" ng-model="idProducto"/>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Identificador zona</label> <input type="text" 
                                                                                      class="form-control" id="zona" name="zona" ng-model="idZonaAddProducts" />
                            </div>
                            <div class="form-group">
                                <label for="nombre">Identificador tienda</label> <input type="text" 
                                                                                        class="form-control" id="zona" name="zona" ng-model="idStoreAddProducts" />
                            </div>
                            <div class="form-group">
                                <label for="nombre">Identificador supermercado</label> <input type="text" 
                                                                                              class="form-control" id="zona" name="zona" ng-model="idSupermarketAddProducts" />
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre producto</label> <input type="text" 
                                                                          class="form-control" id="nombre" name="nombre" ng-model="nombreAddProducts" />
                            </div>
                            <div class="form-group">
                                <label for="buyPrice">Precio de compra del producto</label> <input type="number"
                                                                                      class="form-control" id="buyPrice" name="buyPrice" ng-model="buyPriceAddProducts" />
                            </div>
                            <div class="form-group">
                                <label for="porcentaje">Porcentaje de ganancia</label> <input type="number"
                                                                                  ng-app=""class="form-control" id="porcentaje" name="porcentaje" ng-model="porcentajeAddProduct"/>
                            </div>
                            <div class="form-group">
                                <label for="porcentaje">Peso en gramos del producto</label> <input type="number"
                                                                            ng-app=""class="form-control" id="peso" name="peso" ng-model="pesoAddProduct"/>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="postProductsAgregar()">Aceptar</button>

                            <button type="submit" class="btn btn-primary" ng-click="cancelarPostProductos()">Cancelar</button>
                        </div>


                        <div ng-show="addProducts === 'Modificar'">
                            <div class="form-group">
                                <label for="idProducto">Codigo del producto a modificar :</label> <input type="number"
                                                                                                         class="form-control" id="idProducto" name="idProducto" ng-model="idProducto"/>
                            </div>
                            <div class="form-group">
                                <label for="buyPrice">Nuevo precio de compra del producto</label> <input type="number"
                                                                                      class="form-control" id="buyPrice" name="buyPrice" ng-model="buyPriceAddProducts" />
                            </div>
                            <div class="form-group">
                                <label for="porcentaje">Nuevo porcentaje de ganancia del producto</label> <input type="number"
                                                                                  ng-app=""class="form-control" id="porcentaje" name="porcentaje" ng-model="porcentajeAddProduct"/>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="postProductsModificar()">Aceptar</button>

                            <button type="submit" class="btn btn-primary" ng-click="cancelarPostProductos()">Cancelar</button>

                        </div>


                    </section>

                </div>
            </div>
        </div>
    </div>

</form>
